<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-center" href="../" >
                <div class="text-center">
                    <img src="assets/img/logo.png" width="48px">BitMi
                </div>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a ui-sref="cadastro">
                            <i class="material-icons">person_add</i> Cadastro
                        </a>
                    </li>
                    <li class="  ">
                        <a ui-sref="login">
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>