<style type="text/css">
    .main-panel {
        position: relative;
        width: 100%;
    }

    .main-panel>.content {
        margin-top: 0px;
        padding: 0px;
        min-height: calc(100vh - 105px);
    }


    body{
        background: url(' assets/img/login.jpg ')  no-repeat center center fixed; background-size: cover; 
        height: 100%
    }
</style>

<div class="wrapper" style="">
        <div class="register-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card card-signup card-hidden ">
                            <h2 class="card-title text-center">Criar uma nova conta</h2>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1" >
                                    <div class="card-content visible-md visible-lg">
                                        <div class="info info-horizontal">
                                            <div class="icon icon-rose">
                                                <i class="material-icons">timeline</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Full Time</h4>
                                                <p class="description">
                                                    Nossa produção está 24h por dia em funcionamento e você pode acompanhar seu minerador em tempo real.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info info-horizontal">
                                            <div class="icon icon-primary">
                                                <i class="material-icons">code</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">App's</h4>
                                                <p class="description">
                                                    Tenha a comodidade de acompanhar seus rendimentos de qualquer lugar e a qualquer hora.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info info-horizontal">
                                            <div class="icon icon-info">
                                                <i class="material-icons">group</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Indicações</h4>
                                                <p class="description">
                                                    Você pode ganhar bônus indicando seus amigos e familiares a investir pouco e ganhar sempre.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="social text-center">
                                        <button class="btn btn-just-icon btn-round btn-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </button>
                                        <button class="btn btn-just-icon btn-round btn-dribbble">
                                            <i class="fa fa-dribbble"></i>
                                        </button>
                                        <button class="btn btn-just-icon btn-round btn-facebook">
                                            <i class="fa fa-facebook"> </i>
                                        </button>
                                    </div>

                                    <form id="FormCadastro">
                                    <div style="opacity: 0; position: fixed"><input type="email" name=""><input type="password" name=""></div>
                                        <div class="card-content">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">face</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Nome completo</label>
                                                    <input type="text" name="nome" class="form-control" ng-model="data.nome" required="true" />
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Email</label>
                                                    <input type="email" name="email" class="form-control" ng-model="data.email" required="true" />
                                                </div>
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Senha</label>
                                                    <input type="password" name="senha" class="form-control" ng-model="data.senha" required="true" />
                                                </div>
                                            </div>
                                            <!-- If you want to add a checkbox to this form, uncomment this code 
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes" checked> I agree to the
                                                    <a href="#something">terms and conditions</a>.
                                                </label>
                                            </div>-->
                                            <br><br>
                                        <div class="footer text-center">
                                            <button type="submit" class="btn btn-primary btn-wd btn-lg btn-block">Vamos começar!</button>
                                            <a ui-sref="login" class="btn btn-rose btn-wd btn-lg btn-block">Já tenho conta</a>
                                        </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>