<style type="text/css">
    .main-panel {
        position: relative;
        float: right;
        overflow: auto;
        width: 100%;
    }

    .main-panel>.content {
        margin-top: 0px;
        padding: 0px;
        min-height: calc(100vh - 105px);
    }

    .sidebar>ul,
    .off-canvas-sidebar>ul {
        position: relative;
        z-index: 4;
        overflow-y: hidden;
        height: calc(100vh - 61px);
        width: 100%;
    }
</style>


<div class="wrapper" style="background: url(' assets/img/login.jpg ')  no-repeat center center fixed; background-size: cover; ">
    <div class="full-page login-page" filter-color="black">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">

                        <form method="#" action="#">
                            <div class="card card-hidden">
                                <div class="card-header text-center" data-background-color="rose">
                                    <h4 class="card-title">Login</h4>
                                    <div class="social-line">
                                        <a href="#btn" class="btn btn-just-icon btn-simple">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-simple">
                                                <i class="fa fa-twitter"></i>

                                            </a>
                                        <a href="#eugen" class="btn btn-just-icon btn-simple">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                    </div>
                                </div>
                                <form id=""></form>
                                <form id="FormLogin">
                                    <div class="card-content">
                                    	<div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Email</label>
                                                <input type="email" name="email" class="form-control" ng-model="data.email" required="true" />
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
	                                        <div class="form-group label-floating">
	                                            <label class="control-label">Senha</label>
	                                            <input type="password" name="senha" class="form-control" ng-model="data.senha" required="true" />
	                                        </div>
	                                    </div>
	                                    <br>

                                        <div class="form-footer text-center">
                                        <button type="submit" class="btn btn-rose btn-wd btn-lg btn-block">Entrar</button>
                                        </div>
                                        <a ui-sref="cadastro" class="btn btn-primary btn-wd btn-lg btn-block">Criar nova conta</a>
                                    </div>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>